/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}

/*========== Global CSS Start ===========*/
.container{
    width: 100%;
    max-width: 1920px;
    padding: 0 3rem;
    margin: 0 auto;
    height: 100%;
}
/*========== Global CSS End ===========*/


/*======== Styling Started =============*/
/*==== Preeloder Start =====*/
.onLoad{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#d2d7e0, #517887);
    z-index: 999999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onLoadNone{
    display: none !important;
}
.onLoad_body .logo{
    max-width: 25rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    animation: preload 2s infinite;
}
.onLoad_disable .logo{
    animation: preload none !important;
}
@keyframes preload {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.onLoad_body .icon i{
    font-size: 1.5rem;
    padding: .4rem 1.2rem;
    color: rgb(106, 106, 106);
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    background: rgb(37, 37, 111);
    border-radius: 20px;
    display: block;
    width: fit-content;
    cursor: pointer;
    transition: .4s;
    transform: translateX(-2000%);
}
.onLoad_body .ok_bdb i:hover{
    background: rgb(15, 15, 57);
    transform: scale(1.2) !important;
}
.ok_bdb i{
    transform: translateX(0) !important;
}

/*==== Preeloder End =====*/

/*==== Body Start =====*/
.body{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( #78a0c1, #00002E);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .body_main{
    position: relative;
}
.body_main .header_logo{
    width: 200px;
    margin: 1rem auto;
}

.slider_main .slider_box{
    text-align: center;
    position: absolute;
    transform: translate(0) scale(0);
    transition: transform 1s;
}
.slider_box.current{
    transform: translate(0) scale(1);
    transition: transform 1s;
}
.content .slider_main{
    width: 100%;
    max-width: 50rem;
    margin: 4rem auto;
    position: relative;
}
.slider_box .slider_title{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(41 41 118);
    line-height: 110%;
    margin-bottom: 0.4rem;
}
.slider_box .slider_text{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(41 41 118);
    line-height: 120%;
}
.body_main .btns{
    width: 100%;
    position: fixed;
    bottom: 35%;
    left: 0;
    text-align: center;
}
.body_main .btns a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    background: linear-gradient(3deg, rgb(13, 13, 13), rgb(0, 0, 169));
    padding: .6rem 2rem;
    border-radius: .4rem;
    margin: 0 .8rem;
    transition: .3s;
}
.body_main .btns a:hover{
    background: linear-gradient(3deg, rgb(1, 1, 115), rgb(13, 13, 13));
}
.body_main .terms a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #3e4d62;
    padding: 0 .8rem;
    border-right: 2px solid #313d4f;
    transition: .3s;
}
.body_main .terms a:hover{
    color: #62728a;
}
.body_main .terms a:last-child{
    border-color: transparent !important;
}
.body_main .terms{
    width: fit-content;
    position: fixed;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%);
}
.body_main .social{
    width: fit-content;
    position: fixed;
    right: 3rem;
    bottom: 1rem;
}
.social .social_inner a{
    margin-left: 0.4rem;
}
.social .social_inner a i{
    font-size: .9rem;
    color: #ffffff;
    background: #57606f;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    border-radius: 50%;
    transition: .3s;
}
.social .social_inner a i:hover{
    background: #273c75;
}
/*==== Body End =====*/


/*========== Start Responsive ===========*/

/*------- max-width: 1400px  --------*/

/*------- max-width: 1024px  --------*/
@media (max-width: 1024px) {
    .social .social_inner a i{
        font-size: .8rem !important;
        width: 1.7rem !important;
        height: 1.7rem !important;
        line-height: 1.7rem !important;
    }
}

/*------- max-width: 992px  --------*/
@media (max-width: 992px) {
    /* PreLoder */
    .onLoad .onLoad_body .logo{
        width: 20rem;
    }
}

/*----------- max-width: 768px -------------*/
@media (max-width: 768px) {
    /* PreLoder */
    .onLoad .onLoad_body .logo{
        width: 18rem;
    }
}

/*----------- max-width: 576px -------------*/
@media (max-width: 576px) {
    /* PreLoder */
    .onLoad .onLoad_body .logo{
        width: 16rem;
    }
    .onLoad_body .icon i{
        font-size: 1.3rem !important;
    }

    /*------ Body --------*/
    .slider_box .slider_title{
        font-size: 2rem !important;
    }
    .slider_box .slider_text{
        font-size: 1.1rem !important;
    }
    .body_main .social {
        right: 2rem !important;
    }
    .body_main .terms a{
        font-size: .8rem !important;
        padding: 0 .4rem !important;
    }
    .body_main .btns a{
        font-size: 1rem !important;
    }
    .container{
        padding: 0 1rem !important;
    }
    .body_main .header_logo{
        width: 10rem !important;
    }
}

/*----------- max-width: 420px -------------*/
@media (max-width: 420px) {
    /* PreLoder */
    .onLoad .onLoad_body .logo{
        width: 14rem;
    }
    .onLoad_body .icon i{
        font-size: 1rem !important;
    }

    /*------- Body ------*/
    .body_main .terms{
        left: 40% !important;
        transform: translate(-40%) !important;
    }
    .social .social_inner a i{
        width: 1.6rem !important;
        height: 1.6rem !important;
        line-height: 1.6rem !important;
    }
    .body_main .social {
        right: 1rem !important;
    }
    .body_main .btns a {
        display: block;
        margin-bottom: .6rem;
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .body_main .btns{
        width: 100% !important;
        text-align: center !important;
        padding: 0 1rem;
    }
    .body_main .header_logo{
        width: 8rem !important;
    }
    .content .slider_main{
        margin: 2rem auto !important;
    }
}

/*----------- max-width: 369px -------------*/

@media (max-width: 369px) {
    /* PreLoder*/
    .onLoad .onLoad_body .logo{
        width: 12rem;
    }
    .onLoad_body .icon i{
        font-size: 1rem !important;
    }
    .content .slider_main{
        margin: 1rem auto !important;
    }
    .body_main .btns a{
        font-size: .9rem !important;
    }
}


/* This is Height Controling */
@media (max-height: 550px) {
    .body_main .btns{
        bottom: 30% !important;
    }
}
@media (max-height: 450px) {
    .body_main .btns{
        bottom: 25% !important;
    }
}
